<!DOCTYPE html>
<html ng-app="eduStat">
<head lang="en">
    <meta charset="UTF-8">
    <title>Student Performance Sheet</title>
    <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <style type="text/css">
        body {
            padding-top: 70px;
        }

        #addBtn {
            position: relative;
            left: 50%;
            margin-left: -62px;;
        }

        a {
            color: #333;
        }

        .error {
            color: red;
        }

        .min-height{
            height: 43px;
        }
        
    </style>
</head>
<body ng-controller="StudentController as studentController">
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Edu Stats</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="./index.html">Student Record</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <table class="table table-bordered">
        <caption>Student Details</caption>
        <thead>
        <tr>
            <th class="min-width min-height">Roll No.</th>
            <th class="min-width min-height">Student Name</th>
            <th class="min-width min-height">Test Score (Out of 100)</th>
            <th></th>
        </tr>
        <tr class="active" ng-repeat="student in studentController.students" ng-class="{'danger': student.score < 65}">
            <td class="col-md-2 min-height" editable="student.roll_no" index="{{$index}}" update-student="studentController.updateStudent(index)"></td>
            <td class="col-md-5 min-height" editable="student.name" index="{{$index}}" update-student="studentController.updateStudent(index)"></td>
            <td class="col-md-4 min-height" editable="student.score" index="{{$index}}" update-student="studentController.updateStudent(index)"></td>
            <td class="col-md-1 min-height"><a href="javascript:void(0)" ng-click="studentController.deleteStudent(student)"><span
                    class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        </thead>
    </table>
    <table class="table table-bordered">
        <caption>Class Statistics</caption>
        <thead>
        <tr>
            <th>Maximum Score</th>
            <th>Minimum Score</th>
            <th>Average Score</th>
        </tr>
        <tr class="active">
            <td>{{studentController.students|max}}</td>
            <td>{{studentController.students|min}}</td>
            <td>{{studentController.students|average}}</td>
        </tr>
        </thead>
        <tfoot>
        <button id="addBtn" type="button" class="btn btn-default" ng-click="studentController.showStudentModal()">Add
            Student
        </button>
        </tfoot>
    </table>
</div>
<div id="studentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Student Details</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="modalRoll">Roll No.</label>
                        <input type="text" id="modalRoll" class="form-control" placeholder="Roll Number"
                               ng-model="studentController.rollNumbr">
                    </div>
                    <div class="form-group">
                        <label for="modalStuName">Student Name</label>
                        <input type="text" id="modalStuName" class="form-control"
                               placeholder="Student Name" ng-model="studentController.name">
                    </div>
                    <div class="form-group">
                        <label for="modalScore">Score</label>
                        <input type="text" id="modalScore" class="form-control"
                               placeholder="Test Score" ng-model="studentController.score">
                    </div>
                </form>
                <div class="error">
                    <span>{{studentController.mandatoryErrorMessage}}</span>
                </div>
                <div class="error">
                    <span>{{studentController.rollErrorMessage}}</span>
                </div>
                <div class="error">
                    <span>{{studentController.scoreErrorMessage}}</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ng-click="studentController.addStudent()">Add
                        Student
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="./node_modules/angular/angular.min.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./StudentController.js"></script>
<script src="./editableDirective.js"></script>
<script src="./student.service.js"></script>
</body>
</html>